{{!
    @template theme_tatanganga/login

    Login page template with full navbar.
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

<div id="page-wrapper" class="d-print-block">

    {{{ output.standard_top_of_body_html }}}

    {{> theme_boost/navbar }}

    <div id="page" class="container-fluid pt-5 mt-0">
        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">
                <div id="region-main" class="col-12 h-100">
                    <div class="login-wrapper">
                        <div class="login-container">
                            {{{ output.main_content }}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> theme_boost/footer }}
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
});
{{/js}}
